init.author.name = Jonas Eicher
init.author.email = jonas.eicher@kite-consult.de
init.author.url = http://blog.example.com
# an email is required to publish npm packages
email=jonas.eicher@kite-consult.de
always-auth=true
_auth=ZWljaGVyLXRlc3Q6YWxsaWFuem5leHVz
